
* {padding: 0; margin: 0;}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: deepskyblue;
}

.logo {
  margin: 0 0 0 .45em;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation  {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
    background: #00ace6;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

li > form > input{
	text-align: center;
    white-space: normal;
    padding: 8px;
    margin: 7px;
}

.users-info {
	margin: 2%;
}

.users-info .users {
	display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    align-content: space-around;
    gap: 30px;
}


.users-info form{
	display: inline;
    margin-inline: 10px;
}

.users-info .users .card {
    list-style: none;
    background-color: #00ace6;
    color: white;
    padding: 2rem;
}

.users-info button{
	padding: 3px;
    width: 38%;
    background: transparent;
    color: white;
    margin-top: 5px;
}

.users-info button:hover {
	background-color: white;
	color: #00ace6;
}

/*-----------------------------------------*/

header {
    background-color: white;
    position: fixed;/*content moves underneath*/
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;/*to align text in center*/
    box-shadow: 0 0 25px 0 black;/*adds shadow 25px blur*/
}

header img {
	height: 80px;
	margin-left: 40px;
}

/*header* means any element inside header*/
header * {
    display: inline;/*nav text horizontal, also bullet points disappears*/
}

header li {
    margin: 20px;/*text margin*/
}

header li a {
    color: black;
    text-decoration: none;/*removes underline*/
}

body {
    height: 125vh;
    margin-top: 50px;/*content was obscured by nav-bar*/
    padding: 30px;
}

.selected{
	text-decoration: underline;
}

.box{
	padding: 10px;
	margin: auto;
	margin-top: 10px;
}

.grid {
	display: grid;
	grid-gap: 10px;
	grid-auto-rows: minmax(600px, 1fr);
	grid-template-columns:  repeat( auto-fill, minmax(300px, 1fr) );
	
}

.grid-container {
	background-color:white;
	padding:10px;
}

.pic{
	width: 100%;
	height: 80%;
}
